*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
h1{
    font-family: 'Source Code Pro', monospace;
}
.carousel-item img{
    width: 80%;
    height: 80vh;

}
.card-body img{
    min-width:50%;
    max-height: 200px;
}